#logo{
    text-decoration: none;
    color: white;
}
body{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-color: #100E2E;
    text-align: center;
}
header{
    display: flex;
    flex-direction: column;
    background: url(../images/headerBackground.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 85%;
    margin: auto;
}
header a{
    text-decoration: none;
    color: white;
}
header ul{
    display: flex;
    
}
header h1{
    font-size: 50px;
    width: 40%;
    font-weight: bold;
    margin: 30vh auto 0;
}
header h1 + p{
    color: rgba(255, 255, 255, 0.8);
}
header li{
    list-style: none;
    margin: 10px;
    text-transform: uppercase;
    font-size: 15px;
}
header button{
    background-color: orange;
    border: transparent;
    padding: 15px;
    width: 10%;
    text-transform: uppercase;
    margin: 15px auto 30vh;
    font-size: 15px;

}

/*header contact*/
.align{
    display: flex;
    justify-content: center;
}
.align div{
    text-align: center;
    width: 20%;
    margin: 2%;
}
.form input,.form textarea{
    margin: 0.7%;
}
.inputpetit{
    width: 21.2%;
}
.inputgrand{
    width: 45.6%;
}
.form{
    margin-left: 4%;
    text-align:start;
}

/*header login*/
header.login{
    display: flex;
    flex-direction: column;
    background: url(../images/loginbackground.png) no-repeat;
    background-size: cover;
    background-position: center;
}

header h1.connexion{
    font-size: 50px;
    width: 40%;
    font-weight: bold;
    margin: 50px auto 50px;
}
.Submit{
    background-color: #EC9123;
    color: white;
    border-color: #EC9123;
    width: 15%;
    margin: 10px auto 10px;
}
input, textarea{
    background-color: #373367;
    width: 30%;
    border: 0.5rem solid;
    border-color: #373367;
    margin: 5px auto 5px;
    border-radius: 5px;
    color: white;
}
.divInput{
    margin: 50px;
    text-align: left;

}
.pInput{
    margin: 3px;
    margin-left: 40%;
}
::placeholder{
    color: lightgray;
}
/*header login*/
.Submit{
    background-color: #EC9123;
    color: white;
    border-color: #EC9123;
    width: 15%;
    margin: 10px auto 10px;
}
.SubmitEspace{
    background-color: #EC9123;
    color: white;
    border-color: #EC9123;
    width: 60%;
    margin: 10px auto 10px;
}
input, textarea{
    background-color: #373367;
    width: 70%;
    border: 0.5rem solid;
    border-color: #373367;
    margin: 5px auto 5px;
    border-radius: 5px;
    color: white;
}
.align form{
    width: 50%;
    color: white;
}
.formEspace{
    margin: 50px;
    text-align: center;

}
.formEspace2{
    margin: 50px;
    text-align: center;

}
.pEspace{
    margin: 3px;
    margin-left: 50%;
}

.pEspace2{
    margin: 3px;
    margin-right: 50%;
}
::placeholder{
    color: lightgray;
}


/*Scores*/

.Scores{
    border-collapse: separate;
    text-indent: initial;
    border-spacing: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10%;
}
.Scores td{
    display: table-cell;
    vertical-align: inherit;
}
.Scores td,th{
    border: 1px solid orange;
}