#logo{
    text-decoration: none;
    color: white;
    font-weight: 900;
    font-size: 18px;
}
body{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-color: #110E2E;
}

input {
    padding-left: 10px;
}

#headerAccueil{
    display: flex;
    flex-direction: column;
    background: url(../images/montagneSpace.jpeg) no-repeat;
    background-size: cover;
    background-position: center;
}
header ul li a:hover{
    color: #EC9123;
    transition: 1s;
    border-top: 2px solid #EC9123;
    padding: 40px 0;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 85%;
    margin: auto;
}
#headerAccueil a, .login a{
    text-decoration: none;
    color: white;
    font-weight: 900;
    font-size: 14px;
}

#headerAccueil ul, .login ul{
    display: flex;
    margin: 41px 0 0;
}
#headerAccueil h1, .login h1{
    font-size: 80px;
    width: 60%;
    font-weight: 900;
    margin: 30vh auto 0;
}
#headerAccueil li, .login li{
    list-style: none;
    margin: 0 15px;
    text-transform: uppercase;
    font-size: 15px;
}
#headerAccueil a button{
    color: white;
    border: none;
    background-color: transparent;
    font-size: 16px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;

}
#playButton{
    margin: 15px auto 30vh;
    width: 10%;
    background-color: orange;
    border: transparent;
    padding: 15px;
}



/*header contact*/
header.login h2{
    font-size: 80px;
    width: 60%;
    font-weight: 900;
    margin: 4rem auto;
    text-transform: uppercase;
}
header.login nav{
    width: 85%;
    justify-content: space-between;
}
#backgroundHeader{
    width: 100%;
    background-color: #100E2E;
}
header.login a{
    text-decoration: none;
    color: white;
    font-weight: 900;
    font-size: 14px;
}
header.login ul li a:hover{
    color: #EC9123;
    transition: 1s;
    border-top: 2px solid #EC9123;
    padding: 40px 0;
}
header.login ul{
    display: flex;
    
}
.align{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.align div{
    text-align: center;
    padding: 40px 0;
    margin: 10rem 0 3rem;
    width: 32%;
    background-color: #0E0B26;
}

/*header login*/
header.login{
    display: flex;
    flex-direction: column;
    background: url(../images/headerWalpapper.png) no-repeat;
    background-size: cover;
    background-position: center;
}
#inputPetit{
    display: flex;
    justify-content: space-between;
}
#inputPetit input{
    width: 45%;
}
header h1.connexion{
    font-size: 50px;
    width: 40%;
    font-weight: bold;
    margin: 50px auto 50px;
}
.Submit{
    background-color: #EC9123;
    color: white;
    width: 20%;
    border-radius: 2px;
    border: transparent;
    padding: 12px 5px;
}
.inputgrand, #inputPetit input, textarea{
    background-color: #373367;
    border-radius: 5px;
    color: white;
    padding: 10px 0;
    margin: 7px 0;
    border: none;
}
.form{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    width: 50%;
    margin: 0 auto 5rem 0;
}
.divInput{
    margin: 50px;
    text-align: left;

}
div, .inputgrand, textarea{
    width: 100%;
}
.pInput{
    margin: 3px;
    margin-left: 40%;
}
::placeholder{
    color: lightgray;
}
/*header login*/
.align .Submit{
    background-color: #EC9123;
    color: white;
    border-color: #EC9123;
    width: 15%;
    margin: 10px auto 10px;
}
.align .SubmitEspace{
    background-color: #EC9123;
    color: white;
    border-color: #EC9123;
    width: 60%;
    margin: 10px auto 10px;
}
.align form{
    width: 50%;
    color: white;
}

.formEspace{
    margin: 50px;
    text-align: center;

}
.formEspace2{
    margin: 50px;
    text-align: center;

}
.pEspace{
    margin: 3px;
    margin-left: 50%;
}

.pEspace2{
    margin: 3px;
    margin-right: 50%;
}
::placeholder{
    color: lightgray;
}


/*Scores*/

.Scores{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10%;
}
.Scores tr,.Scores img{
    height: 100px;
    width: 100px;
    border: 1px solid #EC9123;
}
.Scores tr td{
    padding: 2px 4px;
    cursor: pointer;
}
.Scores th{
    border: 1px solid orange;
    height: 25px;
    width: 225px;
}
#blockArticle article:hover{
    transition: 0.5s;
    -ms-transform: scale(1.05); /* IE 9 */
    -webkit-transform: scale(1.05); /* Safari 3-8 */
    transform: scale(1.05);
}
.PageScores{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10%;
}
.PageScores th, .PageScores td{
    border: 1px solid orange;
    height: 25px;
    width: 400px;
}
.PageScores .Fait{
    height: 40px;
    width: 200px;
    font-size: 40px;
}
.PageScores .FaitBase{
    height: 40px;
    width: 200px;
}
.jauge {
    width: 100%;
    height: 30px;
    background-color: #ccc;
    position: relative;
    border-radius: 10px;
}

.remplissage {
    height: 100%;
    background-color: orange;
    width: 33%;
    color: #373367;
    text-align: right;
    padding: 1rm;
    font-size: 20px;
    border-radius: 10px;
}
.progression{
    width: 400px;
    margin: 10px;
}