#mainAccueil{
    width: 75%;
    margin: 0 auto 7em;
}
#mainAccueil p:not(h5+p), #headerAccueil p, #footerAccueil p{
    color: #C5BFC1;
}
#mainAccueil section:first-of-type{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px auto;
}
h4{
    font-size: 20px;
}
#mainAccueil section:first-of-type #blockImg{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#mainAccueil section:first-of-type div p {
    text-align: left;
    margin: 0;
    width: 20vw;
}
#mainAccueil section:first-of-type div p span{
    font-size: 20px;
    color: white;
    margin: 15px 0;
}
#mainAccueil section:first-of-type div h3{
    color: #3724A0;
    margin: 0 30px 0 0;
    text-align: left;
    font-size: 40px;
    font-weight: 900;
}
#mainAccueil section:first-of-type div h4{
    display: flex;
    margin: 0 0 30px;
}
#mainAccueil section:first-of-type #blockText{
    margin: 25px 0;
    display: flex;
    width: 100%;
}
#mainAccueil section:first-of-type #blockText div{
    display: flex;
}   
#mainAccueil section:first-of-type #blockText div div{
    display: flex;
    flex-direction: column;
}
#mainAccueil section:nth-of-type(2){
    display: flex;
    margin: auto;
    justify-content: center;
}
#mainAccueil section:nth-of-type(2) img{
    width: 530px;
    border-radius: 5px;
}
#mainAccueil section:nth-of-type(2) div{
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
}
#mainAccueil section:nth-of-type(2) div article{
    width: 230px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 15px;
    border-radius: 5px;
}
#mainAccueil section:nth-of-type(2) div article h5{
    font-size: 38px;
    margin: 0;
}
#mainAccueil section:nth-of-type(2) div article p{
    font-size: 18px;
    margin: 10px 0 0;
    font-weight: bolder;
}
#mainAccueil section:nth-of-type(2) div article:first-of-type{
    background-color: #3724A0;
}
#mainAccueil section:nth-of-type(2) div article:nth-of-type(2){
    background-color: #16A15F;
        margin-right: 0;
}
#mainAccueil section:nth-of-type(2) div article:nth-of-type(3){
    background-color: #B91CA8;

}
#mainAccueil section:nth-of-type(2) div article:last-of-type{
    background-color: #EB9122;
    margin-right: 0;
}
#mainAccueil section:last-of-type{
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}
#mainAccueil section:last-of-type h2{
    font-size: xx-large;
    margin: 8rem 0 0 0;
}
#mainAccueil section:last-of-type p{
    margin: 20px;
}
#mainAccueil section:last-of-type p+img{
    width: 180px;
    margin: 10px;
}
#mainAccueil section:last-of-type #blockArticle{
    display: flex;
    justify-content: space-evenly;
    margin: auto;
    width: 75%;
}
#mainAccueil section:last-of-type article{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #0E0B26;
    padding: 30px;
    margin: 10px;
}
.imgTeam{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
#mainAccueil section:last-of-type article div:not(.imgTeam){
    display: flex;
    justify-content: space-evenly;
}
#mainAccueil section:last-of-type article div img{
    width: 20px;
    margin: 5px;
}
#mainAccueil section:last-of-type article h6{
    font-size: large;
    margin: 20px 7rem 5px;
}
#mainAccueil section:last-of-type article h6+p{
    color: #C5BFC1;
}
#alexis{
    background: url(../images/alexis.jpg) center;
    background-size: cover;
}
#mathias{
    background: url(../images/mathias.JPG) center;
    background-size: cover;

}

#mainContact{
    display: flex;
    width: 75%;
    margin: auto;
    flex-direction: column;
    align-items: center;
}
#leo{
    background: url(../images/gento.jpg) center;
    background-size: cover;
}


/*transition du header dan sle bon endroit*/

#logo{
    text-decoration: none;
    color: white;
    font-weight: 900;
    font-size: 18px;
    margin: 20px;
}
body{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-color: #110E2E;
}
#facebook{
    padding: 5px 7px 5px 3px;
}
#pinterest{
    height: 25px;
    width: 25px;
    padding: 2.5px;
}
#playButton{
    margin: 15px auto 30vh;
    background-color: orange;
    border: transparent;
    padding: 15px;
}
.align{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.align div{
    text-align: center;
    padding: 40px 0;
    margin: 10rem 0 3rem;
    width: 32%;
    background-color: #0E0B26;
}
#inputPetit{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.Submit{
    background-color: #EC9123;
    color: white;
    width: 20%;
    border-radius: 2px;
    border: transparent;
    padding: 12px 5px;
}

.form{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    width: 50%;
    margin: 0 auto 5rem 0;
}
#inputPetit input {
    width: 45%;
}
.divInput{
    margin: 50px;
    text-align: left;

}
.pInput{
    margin: 3px;
    margin-left: 40%;
}
::placeholder{
    color: lightgray;
}
.align .Submit{
    background-color: #EC9123;
    color: white;
    border-color: #EC9123;
    width: 15%;
    margin: 10px auto 10px;
}
.align .SubmitEspace{
    background-color: #EC9123;
    color: white;
    border-color: #EC9123;
    width: 60%;
    margin: 10px auto 10px;
}
.align form{
    width: 50%;
    color: white;
}
#doubleImgBlock{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}
.formEspace{
    margin: 50px;
    text-align: center;

}
.formEspace2{
    margin: 50px;
    text-align: center;

}
.pEspace{
    margin: 3px;
    margin-left: 50%;
}

.pEspace2{
    margin: 3px;
    margin-right: 50%;
}
::placeholder{
    color: lightgray;
}.Scores{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0%;
    padding: 10% 0;
}
.Scores tr,.Scores img{
    height: 100px;
    width: 100px;
    border: 1px solid #EC9123;
}
.Scores tr td{
    padding: 2px 4px;
    cursor: pointer;
}
.Scores th{
    border: 1px solid orange;
    height: 25px;
    width: 225px;
}
#blockArticle article:hover{
    transition: 0.5s;
    -ms-transform: scale(1.05); /* IE 9 */
    -webkit-transform: scale(1.05); /* Safari 3-8 */
    transform: scale(1.05);
}
.PageScores{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10%;
}
.PageScores th, .PageScores td{
    border: 1px solid orange;
    height: 25px;
    width: 400px;
}
.PageScores .Fait{
    height: 40px;
    width: 200px;
    font-size: 40px;
}
.PageScores .FaitBase{
    height: 40px;
    width: 200px;
}
.jauge {
    width: 100%;
    height: 30px;
    background-color: #ccc;
    position: relative;
    border-radius: 10px;
}

.remplissage {
    height: 100%;
    background-color: orange;
    width: 33%;
    color: #373367;
    text-align: right;
    padding: 1rm;
    font-size: 20px;
    border-radius: 10px;
}
.progression{
    width: 400px;
    margin: 10px;
}
.alignProfil{
    display: flex;
    width: 100%;
    justify-content: center;
}
.alignProfil div{
    text-align: center;
    padding: 40px 0;
    margin: 10rem 0 3rem;
    width: 32%;
    background-color: #0E0B26;
}
.alignProfil .Submit{
    background-color: #EC9123;
    color: white;
    border-color: #EC9123;
    width: 15%;
    margin: 10px auto 10px;
}
.alignProfil .SubmitEspace{
    background-color: #EC9123;
    color: white;
    border-color: #EC9123;
    width: 60%;
    margin: 10px auto 10px;
}
.alignProfil form{
    width: 50%;
    color: white;
}
.TableauProfil{
    align-items: center;
    margin: 10%;;
}
.Profil20{
    width: 20%;
}
.Profil20 img{
    width: 50%;
    border-radius: 100%;
    object-fit: fill;
}
.Profil40{
    width: 40%;
}